# Gradle
.gradle
build/
composeApp/build/
!gradle/wrapper/gradle-wrapper.jar

# IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Kotlin
.kotlin
*.class

# Local configuration
local.properties

# OS specific
.DS_Store
Thumbs.db

# KMP specific (if any generated folders appear outside build)
kotlin-js-store/
_kotlin-js-store/